<div id="createRibbit" class="panel right">
    <h1>Create a RedBeat</h1>
    <p>
    <form>
        <textarea name="text" class="ribbitText"></textarea>
        <input type="submit" value="RedBeat!">
    </form>
    </p>
</div>
<div id="ribbits" class="panel left">
    <h1>Your RedBeat Profile</h1>
    <div class="ribbitWrapper">
        <img class="avatar" src="<%= @user.avatar_url %>">
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        XX RedBeats
        <span class="spacing">XX Followers</span>
        <span class="spacing">XX Following</span>
        </p>
    </div>
</div>
<div class="panel left">
    <h1>Your Redbeat</h1>
    <div class="ribbitWrapper">
        RedBeats coming . . .
    </div>
</div>